html {
  min-height: 100%;
  margin-bottom: 1px;
  font-family: Courier New;
}

html,
body {
  color: #ffffff;
  background-image: linear-gradient(
      to right top,
      #4493e9,
      #3179d4,
      #2060bf,
      #1248a8,
      #062f91,
      #062f91,
      #062f91,
      #062f91,
      #1248a8,
      #2060bf,
      #3179d4,
      #4493e9
    ),
    url(../media/EngPics/EngBack.png);
  background-blend-mode: overlay;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.board {
  background-color: rgba(0, 0, 0, 0.897);
  min-height: 1000px;

  width: 80%;
  max-width: 1000px;
  min-width: 300px;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.top {
  text-align: center;
  padding-top: 1rem;

  display: block;
}

.top p {
  text-align: left;
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 1.5rem;
}

.top h1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

#tag,
#keyword {
  margin: 5px;
  width: 30%;
  height: 50px;
}

#searchB {
  width: 20%;
  height: 50px;
}

.logs-section {
  margin-top: 10%;
  margin-bottom: 50px;
}

.log {
  background-image: linear-gradient(0deg, #031746, #01174b),
    url(../media/elog-media/logBackground.png);
  background-blend-mode: overlay;

  padding: 1.5rem;
  margin: 2rem;
}

.log-header {
  padding-bottom: 1rem;
}

.log p {
  text-shadow: 2px 2px 2px rgb(146, 26, 202);
}

.date {
  display: inline-block;
  left: -10px;
  top: -10px;
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
  letter-spacing: 4px;
  font-size: 14px;
  background: #000000;
  color: #ffffff;
  padding: 7px;
  border: 2px solid #f004f8;
  border-radius: 10px;
  margin-right: 25px;
  margin-bottom: 10px;
}

.title {
  font-size: 25px;
  font-weight: bold;
  page-break-after: always;
  break-after: page;
}

.in-text-img {
  display: block;
  width: 80%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.in-text-vid {
  display: block;
  width: 80%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.instagram-post{
  display: block;
  width: 80%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.img-window {
  width: 100vw;
  height: 100vh;
  background-color: #000000de;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.img-window img {
  max-width: 80vh;
  max-height: 80vh;
}

.bottom {
  text-align: center;
  padding-bottom: 2rem;
}

a:link,
a:visited,
a:hover,
a:hover {
  color: rgb(206, 250, 9);
}

img {
  border: 6px solid #682455;
}

img:hover {
  cursor: pointer;
}
/*List of tags (just include them in the class...)*/
/*.project-finished, .project-update, .qualification, .cooking, .gym*/
